<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>
<body>
<div class="container">
    <header th:insert="blocks/navigation :: nav"></header>
</div>

<main class="container">
    <a class="btn btn-outline-secondary" href="/">Назад</a>
    <form method="post" class="container">
        <input type="text" name="title" placeholder="Заголовок">
        <input type="text" name="theme" placeholder="Тема">
        <textarea name="text" placeholder="Содержание"></textarea>
        <button type="submit">Добавить</button>
    </form>
</main>

</body>
</html>