<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>
<body>
<div class="container">
    <header th:insert="blocks/navigation :: nav"></header>
</div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <div th:each="el : ${post}">
                <h1 class="display-4 fst-italic" th:text="${el.title}"></h1>
                <p class="lead my-3" th:text="${el.text}">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <a class="btn btn-outline-secondary" href="/">На главную</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>