<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>
<body>
<div class="container">
    <header th:insert="blocks/navigation :: nav"></header>
</div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Ваш обзор успешно добавлен</h1>
            <a class="btn btn-outline-secondary" href="/">На главную</a>
        </div>
    </div>
</main>

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

</body>
</html>